$animation-speed: 0.3s;

/* Colours */
$purple: rgb(105, 36, 123);
$purple-light: rgb(108, 48, 129);
$purple-dark: rgb(65, 31, 86);
$pink: rgb(220, 60, 80);
$pink-trans: rgba(220, 60, 80, 0.8);
$pink-light: rgb(255, 122, 138);
$white: rgb(255, 255, 255);
$fail: rgb(255, 31, 60);
$success: rgb(0, 150, 0);
$tool-window-size: 7em;
$speed: 0.5s;
$header-size: 15vh;

@mixin animate() {
    -moz-transition: all $speed;
    -ms-transition: all $speed;
    -o-transition: all $speed;
    -webkit-transition: all $speed;
    transition: all $speed;
}

/* WebKit browsers */
::-webkit-input-placeholder {
    opacity: 0.4 !important;
}

body {
    display: flex;
    font: 100% Helvetica, sans-serif;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: $pink-light;

    #modal-data {
        align-items: flex-start;
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        height: 100vh;
        justify-content: center;
        width: 100vw;

        #data-container {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            flex: 1 1 0;
            flex-flow: column nowrap;
            font-size: 4em;
            height: 100%;
            justify-content: space-between;
            position: relative;
            width: $tool-window-size;

            #selected-entity {
                align-items: center;
                background-color: $pink-trans;
                color: $white;
                cursor: pointer;
                display: flex;
                font-variant: small-caps;
                height: $header-size;
                justify-content: center;
                text-align: center;
                width: 100%;

                &:hover {
                    background-color: $pink;
                }
            }

            #entities, #methods {
                align-items: center;
                background-color: $pink;
                border: 0.02em black solid;
                box-sizing: border-box;
                cursor: pointer;
                display: none;
                flex-flow: column nowrap;
                font-variant: small-caps;
                justify-content: center;
                position: absolute;
                text-align: center;
                width: 100%;

                span {
                    align-items: center;
                    color: $white;
                    display: flex;
                    height: $header-size;
                    justify-content: center;
                    left: 0;
                    //padding: 0.2em 0;
                    width: 100%;

                    &:hover {
                        background-color: $purple-light;
                    }
                }
            }

            #entities {
                margin: $header-size 0 0 0;
                overflow-x: hidden;
                overflow-y: scroll;
                top: 0;
                z-index: 3;
            }

            #methods {
                bottom: 0;
                margin: 0 0 $header-size 0;
                z-index: 2;
            }

            #methods-container {
                align-items: center;
                background: $pink-trans;
                display: flex;
                flex-flow: row nowrap;
                height: $header-size;
                justify-content: center;
                text-align: center;
                width: 100%;

                #selected-method, #method-selector {
                    align-items: center;
                    color: $white;
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    @include animate();

                    &:hover {
                        cursor: pointer;
                    }
                }

                #selected-method {
                    font-variant: small-caps;
                    width: 85%;
                }

                #method-selector {
                    font-size: 0.5em;
                    width: 15%;
                }

                .normal, .success, .fail {
                    &:hover {
                        cursor: pointer;
                    }
                }

                .normal:hover {
                    background: $pink;

                    .fa-cog {
                        transition: 1s;
                        transform: rotate(360deg);
                    }
                }

                .success {
                    background: $success;
                }

                .fail {
                    background: $fail;
                }
            }

            #confirmation-container {
                align-items: center;
                background: orange;
                box-sizing: border-box;
                bottom: 0;
                display: none;
                flex-flow: row nowrap;
                height: $header-size;
                justify-content: center;
                position: absolute;
                text-align: center;
                width: 100%;

                #drop-confirm, #drop-cancel {
                    align-items: center;
                    color: $white;
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    text-align: center;
                    width: 50%;
                    @include animate();

                    &:hover {
                        cursor: pointer;
                    }
                }

                #drop-confirm:hover {
                    background: $success;
                    width: 100%;
                }

                #drop-cancel:hover {
                    background: $fail;
                    width: 100%;
                }
            }

            #attribute-inputs {
                align-items: center;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                margin: 0.5em 0;
                width: 100%;

                input {
                    border: 0.05em solid $white;
                    box-sizing: border-box;
                    background: $white;
                    font-size: 0.5em;
                    margin: 0.1em 0;
                    padding: 0.2em 0.6em;
                    width: 100%;

                    &:focus {
                        border: 0.05em $pink solid;
                    }
                }
            }

            #custom-query {
                align-items: center;
                display: none;
                height: calc(100vh - #{$header-size});
                overflow-x: hidden;
                overflow-y: auto;
                width: 100%;

                .query {
                    align-items: center;
                    color: $white;
                    cursor: pointer;
                    display: flex;
                    font-variant: small-caps;
                    height: $header-size;
                    justify-content: center;
                    text-align: center;
                    width: 100%;

                    &:hover {
                        background-color: $pink;
                    }
                }

                .selected {
                    background: $pink;
                }
            }
        }

        #table-container {
            box-sizing: border-box;
            align-items: center;
            display: flex;
            flex: 3 1 0;
            flex-flow: column nowrap;
            height: 100%;
            justify-content: center;
            max-height: 100%;
            position: relative;
            width: 100%;
            overflow: hidden;

            .dragtable-sortable {
                background-color: $purple;
                display: flex;
                flex-flow: row nowrap;
                height: 2.3em;
                list-style-type: none;
                top: 0;
                -moz-user-select: none;
                position: absolute;

                li {
                    float: left;
                }
            }

            .ui-sortable-helper {
                opacity: 0.7;
                filter: alpha(opacity=70);
            }

            .ui-sortable-placeholder {
                background: $purple-light !important;
                height: 2em !important;
                visibility: visible !important;
            }

            .ui-sortable-placeholder * {
                opacity: 1;
                visibility: hidden;
            }

            table {
                border: none;
                color: $white;
                background-color: $purple-dark;
                display: flex;
                flex-flow: column nowrap;
                height: 100vh;
                justify-content: flex-start;
                margin: 0;
                max-height: 100%;
                padding: 0;
                width: 100%;

                thead, tbody {
                    align-items: center;
                    flex-flow: column nowrap;
                    justify-content: center;
                    width: 100%;

                    tr {
                        align-items: center;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        width: 100%;

                        th, td {
                            align-items: center;
                            border: none;
                            display: flex;
                            flex: 1 1 0;
                            justify-content: center;
                            margin: 0;
                            padding: 0.5em 0;
                            text-align: center;
                        }

                        th {
                            background-color: $purple-dark;
                            color: $pink-light;
                            font-size: 1.3em;
                            font-variant: small-caps;
                            height: 1.5em;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                thead {
                    font-size: 1em;
                    height: 15%;
                    //height: $header-size;
                    //height: 9.5rem;

                    .specification {
                        align-items: center;
                        display: flex;
                        flex-flow: row nowrap;
                        font-size: 2em;
                        justify-content: center;
                        width: 100%;

                        td {
                            align-items: center;
                            display: flex;
                            flex-flow: column nowrap;
                            height: 100%;
                            justify-content: center;
                            padding: 0.5em;
                            width: 100%;

                            .operator-container-list {
                                align-items: center;
                                display: flex;
                                flex-flow: row nowrap;
                                height: 100%;
                                justify-content: center;
                                padding: 0.5em 0 0.1em 0;
                                width: 100%;

                                > span, > div {
                                    align-items: flex-start;
                                    border: solid 0.1em $pink-light;
                                    border-radius: 5em;
                                    cursor: pointer;
                                    display: flex;
                                    height: 1.6em;
                                    justify-content: center;
                                    line-height: 1.6em;
                                    margin: 0 0.5em;
                                    padding: 0;
                                    width: 1.6em;

                                    .operator-selection {
                                        align-items: center;
                                        background-color: $pink-light;
                                        border: 0.1em black solid;
                                        display: none;
                                        flex-flow: column nowrap;
                                        justify-content: center;
                                        margin: 2em 0 0 0;
                                        position: fixed;

                                        .selected {
                                            background: $pink;
                                        }

                                        > span {
                                            box-sizing: border-box;
                                            padding: 0.5em 1em;
                                            width: 100%;

                                            &:hover {
                                                background: $pink;
                                                cursor: pointer;
                                            }
                                        }
                                    }

                                    &:hover {
                                        border-color: $pink;
                                    }
                                }
                            }

                            .table-input {
                                align-items: center;
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-around;
                                width: 100%;

                                span {
                                    font-size: 1.5em;
                                    width: 20%;
                                }

                                input {
                                    border: none;
                                    border-bottom: solid 0.1em $white;
                                    box-sizing: border-box;
                                    color: $white;
                                    padding: 0 0.4em;
                                    width: 70%;

                                    &:focus {
                                        border-color: $pink-light;
                                    }
                                }
                            }
                        }
                    }
                }

                tbody {
                    font-size: 1.5em;
                    display: block;
                    height: 85%;
                    overflow-y: overlay;
                    width: 100%;

                    tr {
                        width: 100%;

                        td:nth-child(even) {
                            background-color: $purple;
                        }

                        td:nth-child(odd) {
                            background-color: $purple-light;
                        }

                        &:hover {
                            color: $pink-light;
                        }
                    }

                    tr {
                        counter-increment: rowNumber;
                    }

                    tr:hover::before {
                        content: counter(rowNumber);
                        width: 0;
                        position: relative;
                        z-index: 5;
                        transform: translateX(0.5em);
                    }

                    //td:first-child::before {
                    //    content: counter(rowNumber);
                    //    min-width: 1em;
                    //    position: fixed;
                    //}
                }
            }
        }
    }
}
