$animation-speed: 0.3s;

/* Colours */
$purple: rgb(105, 36, 123);
$purple-light: rgb(108, 48, 129);
$purple-dark: rgb(65, 31, 86);
$pink: rgb(220, 60, 80);
$pink-trans: rgba(220, 60, 80, 0.8);
$pink-light: rgb(255, 122, 138);
$white: rgb(255, 255, 255);
$speed: 0.5s;

@mixin animate() {
    -moz-transition: all $speed;
    -ms-transition: all $speed;
    -o-transition: all $speed;
    -webkit-transition: all $speed;
    transition: all $speed;
}

/* WebKit browsers */
::-webkit-input-placeholder {
    opacity: 0.4 !important;
}

body {
    display: flex;
    font: 100% Helvetica, sans-serif;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: $pink-light;

    #modal-data {
        align-items: flex-start;
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
        height: 100vh;
        justify-content: center;
        padding: 1em;
        width: 100vw;

        #data-container {
            align-items: center;
            border: 0.02em black solid;
            box-sizing: border-box;
            display: flex;
            flex: 1 1 0;
            flex-flow: column nowrap;
            font-size: 4em;
            height: 100%;
            justify-content: center;
            //margin: 0.5em 0.5em 0 0;
            padding: 0.2em;
            position: relative;
            width: 7em;

            #selected-entity {
                align-items: center;
                background-color: $pink-trans;
                color: $white;
                cursor: pointer;
                display: flex;
                height: 2em;
                justify-content: center;
                text-align: center;
                width: 100%;

                &:hover {
                    background-color: $pink;
                }
            }

            .data-selection, .method-selection {
                align-items: center;
                background-color: $pink;
                border: 0.1em $purple solid;
                box-sizing: border-box;
                cursor: pointer;
                display: none;
                flex-flow: column nowrap;
                justify-content: flex-start;
                position: absolute;
                text-align: center;
                width: 100%;
                z-index: 1;

                span {
                    color: $white;
                    left: 0;
                    padding: 0.2em 0;
                    width: 100%;

                    &:hover {
                        background-color: $purple-light;
                    }
                }
            }

            .data-selection {
                top: 0;
            }

            .method-selection {
                bottom: 0;
            }

            #selected-method-container {
                align-items: center;
                background: $pink-trans;
                display: flex;
                flex-flow: row nowrap;
                height: 2em;
                justify-content: center;
                text-align: center;
                width: 100%;

                #selected-method, #method-selection {
                    align-items: center;
                    color: $white;
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    @include animate();

                    &:hover {
                        cursor: pointer;
                    }
                }

                #selected-method {
                    flex: 4 1 auto;
                }

                #method-selection {
                    flex: 1 1 auto;
                    font-size: 0.5em;
                }

                .normal, .success, .fail {
                    &:hover {
                        cursor: pointer;
                    }
                }

                .normal:hover {
                    background: $pink;

                    .fa {
                        transition: 1s;
                        transform: rotate(360deg);
                    }
                }

                .success {
                    background: green;
                }

                .fail {
                    background: #ff1f3c;
                }
            }

            #user-data-input {
                align-items: center;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                margin: 0.5em 0;
                width: 100%;

                input {
                    box-sizing: border-box;
                    font-size: 0.5em;
                    margin: 0.1em 0;
                    padding: 0.2em 0.6em;
                    width: 100%;
                }
            }
        }

        #table-container {
            border: 0.1em black solid;
            box-sizing: border-box;
            align-items: center;
            display: flex;
            flex: 3 1 0;
            flex-flow: column nowrap;
            height: 100%;
            margin: 0 0 0 0.5em;
            max-height: 100%;
            justify-content: center;
            //margin: 1em 0;
            width: 100%;

            #view-table {
                align-items: center;
                background: $pink-trans;
                color: $white;
                display: flex;
                flex: 1 1 auto;
                font-size: 4em;
                min-height: 1.5em;
                justify-content: center;
                text-align: center;
                width: 100%;

                &:hover {
                    background: $pink;
                    cursor: pointer;
                }
            }

            #table-data {
                align-items: center;
                color: $white;
                background-color: $purple-dark;
                display: flex;
                flex-flow: column nowrap;
                height: 100%;
                justify-content: flex-start;
                margin: 0;
                max-height: 100%;
                padding: 0;
                width: 100%;

                thead, tbody {
                    align-items:center;
                    display: block;
                    justify-content: center;
                    width: 100%;

                    tr {
                        align-items: center;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        width: 100%;

                        th, td {
                            align-items: center;
                            display: flex;
                            flex: 1 1 0;
                            justify-content: center;
                            margin: 0;
                            padding: 0.5em 0;
                            text-align: center;
                        }

                        td:nth-child(even) {
                            background-color: $purple;
                        }

                        td:nth-child(odd) {
                            background-color: $purple-light;
                        }

                        th {
                            background-color: $purple-dark;
                            color: $pink-light;
                            font-size: 1.3em;
                            height: 1.5em;
                        }

                        &:hover {
                            color: $pink-light;
                        }
                    }
                }

                tbody {
                    overflow-y: overlay;
                }
            }
        }
    }
}
